# Tuple

In [5]:
"""
tuple :-
tuple is a collection of python.
tuple is immutable collecation that means that it is not changable.
tuple is ordered and indexed collection in python.
tuple declared in ("").
it can allow duplicates in tuple.
"""
mytupp = ("hello","python")
print(mytupp)
print(type(mytupp))

('hello', 'python')
<class 'tuple'>

In [6]:
# check the length of tuple
print(len(mytupp))

2

In [9]:
# creating tuple with one item
tp = ("devarth") # this is not a tuple this is string.
print(tp)
print(type(tp))

devarth
<class 'str'>

In [11]:
pt = ("devarth",) # if we want to creating a tuple then this method is possible.
print(pt)
print(type(pt))

('devarth',)
<class 'tuple'>

In [15]:
# we can declare multiple data types in tuple
yt = ("Ahmedabad","Junagadh","Rajkot")
ty = (9,4,5,2,1)
tt = (4.2,2.5,11.21)
yy = (True,False)
print(yt)
print(ty)
print(tt)
print(yy)

('Ahmedabad', 'Junagadh', 'Rajkot')
(9, 4, 5, 2, 1)
(4.2, 2.5, 11.21)
(True, False)

In [17]:
# acces tuple item
print(ty[1]) # we can access tuple item with an index number

4

In [18]:
# if portion in tuple
rr = ("apple","banana","cherry")
if "apple" in rr:
    print("yes it is there")

yes it is there

In [19]:
# update the tuple
print(yt)

('Ahmedabad', 'Junagadh', 'Rajkot')

In [21]:
th = list(yt) # if we want to change the value then we convert tuple into list.
th[2] = "Amreli"
yt = tuple(th)
print(yt)

('Ahmedabad', 'Junagadh', 'Amreli')

In [22]:
# remove method
print(yt)

('Ahmedabad', 'Junagadh', 'Amreli')

In [23]:
ht = list(yt)
ht.remove("Junagadh")
yt = tuple(ht)
print(yt)

('Ahmedabad', 'Amreli')

In [27]:
# unpack the tuple
gh = ("Gandhinagar","Naroda","Mumbai")
(green,black,pink) = gh # we can give nickname to the tuple
print(green)
print(black)
print(pink)

Gandhinagar
Naroda
Mumbai

In [29]:
rg = ("list","tuple","set","dictionary","string","integer")
(easy,hard,*muchhard ) = rg
print(easy)
print(hard)
print(*muchhard)

list
tuple
set dictionary string integer

In [33]:
# tuple with using the while loop
hg = ("red","police","ambulance")
i = 0
while i < len(hg):
    print(hg[i])
    i = i + 1

red
police
ambulance

In [36]:
# tuple methods
rg = ("list","tuple","list","set")
re = rg.count("list") # count method
re

2

In [38]:
er = rg.index("tuple")
print(er)

1